.sectionTitle {
    color: #dc3545;
    padding-bottom: 20px;
    text-align: left;
}

.col-3{
    width: 18rem;
    margin-right: 10px;    
}

.row {
    overflow-x: scroll;
    width: 100%;
}

.text-center {
    margin-right: 8vw;
    margin-left: 8vw;
}

.card-text {
    margin-bottom: 0
}
.card-body {
    text-align: left;
}

.learnMoreButton {
    background-color: white;
    border: 1px #0d6efd solid;
    margin-top: 10px;
    padding-top: 6px;
    padding-bottom: 6px
}

.likeButton {
    background-color: white;
    border: 1px #ffc107 solid;
    margin-top: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    float: right;
    color: #ffc107;
}
.likeButton:hover,
.fa-heart:hover {
    background-color: #ffc107;
    color: black;
    border: 1px #ffc107 solid;
}

.planetsSection{
    margin-top: 40px
}